body {
  margin: 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.hero {
  background-image: url(blomst.jpg);
  height: 400px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  margin-top: 0px;
  background-color: rgba(36, 131, 4, 0.7);
  padding: 15px 20px;
  border-radius: 7px;
}

.description {
  background-color: rgba(36, 131, 4, 0.7);
  height: auto;
  padding: 15px 20px;
  text-align: center;
  margin: 0 30px;
  border-radius: 8px;
  align-items: center;
}
h1, h2 {
  color: white;
}

.activities-head {
  margin-top: 50px;
  background-color: #f1f0eb;
  margin: 0;
  padding: 20px;
  color: #248304;
  font-weight: bold;
}

.activities-area {
  display: flex;
  justify-content: space-around;
  margin: 0 10px;
}

.activities-box {
  padding: 0 40px;
  background-color: #f1f0eb;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  background-size: cover;
}

.guide-section {
  height: 300px;
  width: 500px;
  display: flex;
  margin: 50px auto;
  padding: 10px 30px;
  border-radius: 15px;
  text-align: center;
  background-color: #248304;
  border-bottom: 10px solid #195e02;
}

.profile-photo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin: auto 0;
}
.guide-section-right {
  margin: 50px 10px 0 20px;
}
p {
  color: rgb(0, 0, 0);
}
